body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
width: 100vw;
}
nav {
    
    background-color: #f68b1e;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
    flex-direction: row;

    
}
nav a{
    color: #fff;
    
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

.shoe-list, .shoe-details, .cart-items {
 
    padding: 2rem
 
}

.shoe-item {
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    background-color: #333;
    box-shadow: black 10px;
    border-radius: 10px;
    width: 90%;
    align-items: center;
}
.shoe-item:hover{
    transform: scale(1.05);
}

.shoe-item img {
    max-width: 100px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}
